VITE_SUPABASE_URL=vlyfagjqdezzupvpljkh
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZseWZhZ2pxZGV6enVwdnBsamtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNjc4NjYsImV4cCI6MjA5NDk0Mzg2Nn0.YWmrc04UIdoOn917pjCFdn2PhMSG5jWLfRAfpDhR8kQ
